nav a{
    border:outset;
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 10px;
}

nav a:hover{
    background-color: aqua;
    color: red;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.column:hover{
    transform: scale(1.1);
}


.abc{
    font-size: 20;
    margin: 20;
    padding-top: 100;
}

footer{
    background-color: gray;
    height: 180;
}